.vscode/
node_modules
venv
bin
bin/
obj
*.log

### Spring Boot ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### GO ###
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
tmp
migrations